@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            color: #333;

        }
        #parent {
            display: flex;
            /* justify-content: space-between; */
            align-items: flex-start;
            gap: 30px;
            width: 80%;
            margin: 50px auto;
            /* padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        }
        /* #left, #right {
            flex: 1;
            padding: 10px;
        } */
        #left {
            width: 70%;
            background-color: #f9f9f9;
            /* border-radius: 5px;
            margin-right: 10px; */
        }
        #left > div:nth-child(1) > img{
            width: 100%;
            border-radius: 10px;
        }
        #lastBox{
            margin-top: 10px;
            width: 100%;
            border-radius: 10px;

        }
        #right {
            width: 30%;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        #right > div:nth-child(2){
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        #right > div:nth-child(2) > input{
            padding: 10px;
        }
        /* #right > div:nth-child(2) > div > button{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            /* gap: 20px; */
         */
        #logop {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        #logop img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
        #cartList {
            margin-top: 20px;
        }
        button {
            background-color: #c2cedf;
            color: #fff;
            width: 100%;
            border: none;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #d0c0c0;
        }
        .box_r {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        body{
            line-height: 1.5;
            font-family: 'Poppins', sans-serif;
        }
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
    
    .container{
        max-width: 1170px;
        margin:auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    
    .footer{
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
    }
    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
    